# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/
/src/main/java/com/github/buffmage/registry/
/src/main/java/com/github/buffmage/BlockifyHUDTemp.java
/src/main/java/com/github/buffmage/BlockifyMainTemp.java
